altair==6.0.0
cohere==5.20.1
faiss
interpret==0.7.0           
joblib==1.5.2
Markdown==3.10.2
numpy==1.26.4
pandas==2.3.3
psycopg2==2.9.10
bcrypt==5.0.0
scikit-learn==1.7.2
SQLAlchemy==2.0.46
streamlit==1.52.1
streamlit-scroll-to-top==0.0.4